<ion-header>
    <ion-toolbar style="--background: #f6f6f6;color: black">
        <ion-title *ngIf="!product">Add Product page</ion-title>
        <ion-title *ngIf="product">Edit Product page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="--background: #f6f6f6;">
    <form [formGroup]="productFormGroup" (ngSubmit)="createProduct()" *ngIf="!product">
        <br>
        <div class="champ">
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name">
                    <ion-icon name="person" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label style="color: black">Type</ion-label>
                <ion-select style="color: black" value="brown" okText="Okay" cancelText="Dismiss" formControlName="idTypeProduct">
                    <ion-select-option style="color: black" *ngFor="let productType of productTypes"
                                       [value]="productType.id">{{productType.name}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <ion-row style="margin-right: 5%;margin-left: 5%">
            <ion-col>
                <ion-button (click)="Close()" style="--background: deepskyblue"
                            expand="block">Cancel
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button type="submit" style="--background: deepskyblue"
                            expand="block">Save
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

    <form [formGroup]="productFormGroup" (ngSubmit)="updateProduct()" *ngIf="product">
        <br>
        <div class="champ">
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name">
                    <ion-icon name="person" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label style="color: black">Type</ion-label>
                <ion-select style="color: black" value="brown" okText="Okay" cancelText="Dismiss" formControlName="idTypeProduct"
                            value="{{selected_category_id}}" [(ngModel)]="product.prodcutType.id">
                    <ion-select-option style="color: black" *ngFor="let productType of productTypes"
                                       [value]="productType.id">{{productType.name}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <ion-row style="margin-right: 5%;margin-left: 5%">
            <ion-col>
                <ion-button (click)="Close()" style="--background: deepskyblue"
                            expand="block">Cancel
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button type="submit" style="--background: deepskyblue"
                            expand="block">Save
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
