<ion-header>
  <ion-toolbar>
    <ion-title>add-type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="productTypeFormGroup" (ngSubmit)="createProductType()">
    <br>
    <div class="champ">
      <ion-item>
        <ion-input type="text" placeholder="Name" formControlName="name">
          <ion-icon name="person" style="margin-right: 10px"></ion-icon>
        </ion-input>
      </ion-item>
    </div>

    <ion-row style="margin-right: 5%;margin-left: 5%">
      <ion-col>
        <ion-button (click)="Close()" style="--background: deepskyblue"
                    expand="block">Cancel
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button type="submit" style="--background: deepskyblue"
                    expand="block">Save
        </ion-button>
      </ion-col>
    </ion-row>


  </form>
</ion-content>
